<% layout('layouts/boilerplate.ejs')-%>
<div class="main-pb">
  <div class="container">
    <div class="profile-box">
        <div class="box-item">
         <div class="profile-item">
          <div class="display-profile">
            <div class="dp">
              <img src="<%=post.user.profile.url%>">
            </div>
          </div>
          
          <div class="profile-detail">
            <div class="username-edit username-follow-message">
              <div class="username"><a href="###" ><%=post.user.username%></a></div>
              <div class="edit-archiv-btn follow-message">
                 <div class="button">
                    <button followed-user-id="<%=currUser._id%>" Post-user-id="<%=user._id%>" class="follow-btn">follow</button>
                    <button followed-user-id="<%=currUser._id%>" Post-user-id="<%=user._id%>" class="followings-btn">following</button>
                    <button class="message-btn">message</button>
                 </div>
              </div>

            </div>
            <div class="follower-following">
               <ul>
                  <li> <a href="###" class="posts">0 posts</a></li>
                  <li><button  class="followers"><h4 class="follower-count" style="display:inline;"><%=user.follower.length%></h4> Follower</button></li>
                  <li><a href="###" class="followings"><%=user.following.length%> Following</a></li>
                   
               </ul>
            </div>
            <div class="name-boi">
              <p class="name"><%=user.Name%></p>
              <p class="bio" >@Business<br>
                .
                Fundamental analysis in stock market📉📈, investment tips <br>for learn
                Business mindk</p>
            </div>
          </div>
         </div>
         <div class="profile-story"></div>
         <div class="profile-pst">
          <div class="pst-btn">
            <span class="post"></span>
            <span class="saved"></span>
            <span class="tag"></span>
          </div>
         </div>
         <div class="profile-postes"></div>
       
        </div>
     </div>
  </div>
</div>

